<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>关于我们</title>
  <!-- Bootstrap -->
  <link href="../public/styles/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- the site base style -->
  <link rel="stylesheet" type="text/css" href="../public/styles/page/base.css">
  <!-- the news page's style -->
  <link rel="stylesheet" type="text/css" href="../public/styles/page/abouts.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- 页眉start -->
  <header class="site-header">
    <nav class="navbar navbar-fixed-top floating" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img alt="导航栏商标" src="../public/images/page/logo附文字蓝.png">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="abouts.html">关于我们</a></li>
            <li><a href="features.html">产品特色</a></li>
            <li><a href="cases.html">案例介绍</a></li>
            <li><a href="news.html">新闻资讯</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- 页眉end -->

  <div class="index-main">
    <!-- 站内搜索start -->
    <div class="page-lander text-center">
      <h1><span style="display: inline-block;">用最先进的技术</span>&nbsp;<span style="display: inline-block;">让生活更加美好</span></h1>
      <p>凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网</p>
      <!-- <form role="form">
        <input type="text" name="searchContent" /><button type="sumbit" style="margin-top: -2px;">搜索</button>
      </form> -->
    </div>
    <!-- 站内搜索end -->

    <!-- 主体内容start -->
    <div class="main-content">
      <div class="container">
        <ul id="myTab" class="col-sm-3 nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" class="active"><a href="#one" id="one-tab" role="tab" data-toggle="tab" aria-controls="one" aria-expanded="false">公司简介</a></li>
          <li role="presentation" class=""><a href="#two" role="tab" id="two-tab" data-toggle="tab" aria-controls="two" aria-expanded="true">联系我们</a></li>
          <li role="presentation" class=""><a href="#three" role="tab" id="three-tab" data-toggle="tab" aria-controls="three" aria-expanded="true">合作伙伴</a></li>
          <li role="presentation" class=""><a href="#four" role="tab" id="four-tab" data-toggle="tab" aria-controls="four" aria-expanded="true">法律声明</a></li>
          <li role="presentation" class=""><a href="#five" role="tab" id="five-tab" data-toggle="tab" aria-controls="five" aria-expanded="true">隐私保护</a></li>
        </ul>
        <div id="myTabContent" class="col-sm-9 tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="one" aria-labelledby="one-tab">
            <ol class="breadcrumb">
              <li><a href="#">首页</a></li>
              <li><a href="#">关于我们</a></li>
              <li class="active">公司简介</li>
            </ol>
            <h1>公司简介</h1>
            <p>福建格物科技有限公司于2012年在福建省福州市福州软件园注册成立，注册资本金5000万元。 公司主营业务为软件产品的开发与销售、计算机系统集成及技术支持与服务，主要服务于智能电网、自动化和信息化领域及其细分市场客户。 公司以“格物、致知、诚意、正心”为核心价值观。打造具有科学发展观和持续学习能力的团队，不断推进软件“行业化、产品化、服务化”经营布局。在互联网、大数据、云计算等科技不断发展的背景下，公司对新能源市场、用户、产品及其科研、企业价值链乃至整个商业生态进行研究，将大数据分析技术、物联网、云计算、智能管控等技术和传统工业融合，与行业伙伴携手拓展互联网技术在能源领域的应用，共筑基于能源互联网的未来能源生态系统。</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="two" aria-labelledby="two-tab">
            <ol class="breadcrumb">
              <li><a href="#">首页</a></li>
              <li><a href="#">关于我们</a></li>
              <li class="active">联系我们</li>
            </ol>
            <h1>联系我们</h1>
            <p>地址：福州市福州市晋安区坂中路五四北泰和广场3号楼2223</p>
            <p>邮政编码：350012</p>
            <p>联系电话：0591-87922086</p>
            <p>邮箱：hr@gridvo.com</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="three" aria-labelledby="three-tab">
            <p></p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="four" aria-labelledby="four-tab">
            <p></p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="five" aria-labelledby="five-tab">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- 主体内容end -->
  </div>

  <!-- 页脚start -->
  <footer class="site-footer">
    <div class="footer-nav">
      <!-- container start -->
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h3>关于绿化</h3>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="#">公司简介</a></li>
              <li class="footer-list-item"><a href="#">企业文化</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h3>新闻资讯</h3>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="#">行业背景</a></li>
              <li class="footer-list-item"><a href="#">热点聚焦</a></li>
              <li class="footer-list-item"><a href="#">公司动态</a></li>
            </ul>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h3>产品信息</h3>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="#">产品系列</a></li>
              <li class="footer-list-item"><a href="#">案例展示</a></li>
            </ul>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h3>快速链接</h3>
            <ul class="footer-list">
              <li class="footer-list-item"><a href="feedback.html">在线反馈</a></li>
              <li class="footer-list-item"><a href="#">招贤纳士</a></li>
              <li class="footer-list-item"><a href="#">合作伙伴</a></li>
            </ul>
          </div>
          <div id="wechat-code-pictures" class="col-md-3 col-md-offset-1 col-sm-8 col-xs-12 wechat-code-pictures">
            <ul id="myWechatTabs" class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="#home" role="tab" id="home-tab" data-toggle="tab" aria-controls="home" aria-expanded="true">官方微信</a>
              </li>
              <li role="presentation">
                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">格物科技</a>
              </li>
            </ul>
            <div id="myWechatTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                <img src="../public/images/page/wechat-code-picture.jpg" alt="">
              </div>
              <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                <img src="../public/images/page/wechat-code-picture.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container end -->
    </div>

    <div class="copyright">
      <!-- container start -->
      <div class="container">
          <p class="pull-left">Copyright © 2014-2016 绿化能源有限公司，保留所有权利 | 浙ICP备15019097号</p>
          <p class="pull-right">
            <span><a href="#">法律声明</a></span>
            <span><a href="#">隐私保护</a></span>
            <span><a href="#">联系我们</a></span>
            <span><a href="#">网站地图</a></span>
          </p>
      </div>
      <!-- container end -->
    </div>
  </footer>
  <!-- 页脚end -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../public/js/lib/jquery/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../public/js/lib/bootstrap/bootstrap.min.js"></script>
  <!-- 页面相关 -->
  <script type="text/javascript">
  </script>
</body>

</html>
