extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/abouts.css')

block index-main
	// 站内搜索start
		
	//第一块start
	.page-lander.text-center
		img(src='/images/page/slug/aboutcompany.jpg',style={
			width:'100%',
//			height:'300px'
		})
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			ol.breadcrumb
				li
					a(href='/') 首页
				li
<<<<<<< HEAD
					a 认识绿华
=======
					a(href='/abouts') 认识绿华
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
				li.active 公司介绍
			.about_lh
				h1 绿华能源有限公司介绍
				h2 我们是谁？
				!= data.introduction.content.brief
				h2= data.introduction.title
				!= data.introduction.content.extended
				//h2 我们的行动纲领
				//p
				//	b 价值主张 
				//p 随着绿色能源产业快速发展，我们围绕客户需求和技术持续创新，通过先进技术整合解决方案及综合支持服务，与业界伙伴开放合作，持续为客户和全社会创造价值！
				//p
				//	b 技术创新
				//p 我们以“精益绿色能源”为宗旨，在关键技术、产品开发和工程能力等方向持续投入，引领绿色能源产业的技术创新，致力于提供更优质的绿色能源解决方案为客户创造价值！
				//p
				//	b 公司治理
				//p 我们以“格物致知、诚意正心”为企业精神，坚持以客户为中心，持续改善公司治理架构、组织、流程和考核，使公司长期保持有效增长。
				//p
				//	b 合作理念
				//p 我们秉承“开放、合作、共赢”的理念，与绿色能源开发商、工程合作商、设备供应商等上下游合作伙伴共同构建良性产业生态系统，推动行业持续健康发展，分享技术创新所创造的价值。
				//p
				//	b 质量方针 
				//p 积极倾听客户需求，精心构建产品质量，真诚提供满意服务，时刻铭记为客户服务是我们存在的唯一理由。
				//p
				//	b 发展历程 
				//p 我们积极应对世界能源发展趋势，历时十多年完成从传统水电能源到绿色能源转型，以开放的姿态参与到绿色能源产业经济竞合中，逐步发展成为全球领先的绿色能源创新公司。

				.annual-bg
		
			
			
		
				.it-img-rt-tx.mobile-margin
					.container_it
						.row
							.col-sm-6
								h3.visible-xs
								.row.justcss
									.col-sm-5
										a(href='',target="_blank")
<<<<<<< HEAD
											img(src='/images/page/case/value-proposition.jpg',class="img-responsive",alt='',width="800",height="600")
=======
											img(src='/images/page/case/价值主张.jpg',class="img-responsive",alt='',width="800",height="600")
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
									.col-sm-7
										h3.web_mob(style={'font-weight':'bold'}) 价值主张
											a(href='/abouts',target="_blank")
										.summary 随着光伏新能源产业的快速发展，绿华能源围绕客户需求和技术持续创新，通过先进技术整合解决方案及综合支持服务，与业界伙伴开放合作，持续为客户和全社会创造价值！
							.col-sm-6
								h3.visible-xs
								.row
									.col-sm-5
										a(href='',target="_blank")
<<<<<<< HEAD
											img(src='/images/page/case/corporate-governance.jpg',class="img-responsive",alt='',width="800",height="600")
=======
											img(src='/images/page/case/公司治理1.jpg',class="img-responsive",alt='',width="800",height="600")
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
									.col-sm-7
										h3.web_mob(style={'font-weight':'bold'}) 公司治理
											a(href='/abouts',target="_blank") 
										.summary 公司以“格物、致知、诚意、正心”为理念，坚持以客户为中心，持续改善公司治理架构、组织、流程和考核，使公司长期保持有效增长。 
						.row
							.col-sm-6
								h3.visible-xs
								.row.justcss
									.col-sm-5
										a(href='',target="_blank")
<<<<<<< HEAD
											img(src='/images/page/case/research-development.jpg',class="img-responsive",alt='',width="800",height="600")
=======
											img(src='/images/page/case/研究开发1.jpg',class="img-responsive",alt='',width="800",height="600")
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
									.col-sm-7
										h3.web_mob(style={'font-weight':'bold'}) 技术创新
											a(href='/abouts',target="_blank")
										.summary 公司以“精益绿色能源”为目标，在关键技术、产品开发和工程能力等方向持续投入，引领绿色能源产业的技术创新，致力于提供更优质、低廉的绿色能源解决方案为客户创造价值！
							.col-sm-6
								h3.visible-xs
								.row
									.col-sm-5
										a(href='',target="_blank")
<<<<<<< HEAD
											img(src='/images/page/case/win-win.png',class="img-responsive",alt='',width="800",height="600")
=======
											img(src='/images/page/case/合作共赢1.png',class="img-responsive",alt='',width="800",height="600")
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
									.col-sm-7
										h3.web_mob(style={'font-weight':'bold'}) 合作理念
											a(href='/abouts',target="_blank")
										.summary 绿华能源秉承“开放、合作、共赢”的理念，与新能源开发商、工程合作商、设备供应商等上下游合作伙伴构建良性产业生态系统，分享产业价值。
						.row
							.col-sm-6
								h3.visible-xs
								.row.justcss
									.col-sm-5
										a(href='',target="_blank")
<<<<<<< HEAD
											img(src='/images/page/case/development-history.jpg',class="img-responsive",alt='',width="800",height="600")
=======
											img(src='/images/page/case/发展历程.jpg',class="img-responsive",alt='',width="800",height="600")
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
									.col-sm-7
										h3.web_mob(style={'font-weight':'bold'}) 发展历程
											a(href='/abouts',target="_blank")
										.summary 绿华能源应对世界能源发展趋势，历时十多年完成从传统水电能源到新能源转型，以开放的姿态参与到新能源产业的经济竞合中，逐步发展成为全球领先的绿色能源创新公司。
							.col-sm-6
								h3.visible-xs
								.row
									.col-sm-5
										a(href='',target="_blank")
<<<<<<< HEAD
											img(src='/images/page/case/quality-policy.jpg',class="img-responsive",alt='',width="800",height="600")
=======
											img(src='/images/page/case/质量方针.jpg',class="img-responsive",alt='',width="800",height="600")
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
									.col-sm-7
										h3.web_mob(style={'font-weight':'bold'}) 质量方针
											a(href='/abouts',target="_blank")
										.summary 积极倾听客户需求，精心构建产品质量，真诚提供满意服务，时刻铭记为客户服务是我们存在的唯一理由。
		

		
		
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
