extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/cases.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
		form(role='form')
			input(type='text', name='searchContent')
			button(type='sumbit', style='margin-top: -2px;') 搜索
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			div
				.row
					.col-lg-4.col-md-4.col-sm-6.col-xs-6
						.thumbnail.case
							a(href='case.html')
								img(alt='', src='/images/page/cases/案例图1.png')
							.caption
								h3
									a(href='#') 案例标题  
								p 这是内容爱我的哈维的骄傲我快打我不会的阿觉，爱我的骄傲我看到就好玩吧
					.col-lg-4.col-md-4.col-sm-6.col-xs-6
						.thumbnail.case
							a(href='case.html')
								img(alt='', src='/images/page/cases/案例图2.png')
							.caption
								h3
									a(href='#') 案例标题  
								p 这是内容爱我的哈维的骄傲我快打我不会的阿觉，爱我的骄傲我看到就好玩吧
					.col-lg-4.col-md-4.col-sm-6.col-xs-6
						.thumbnail.case
							a(href='#')
								img(alt='', src='/images/page/cases/案例图1.png')
							.caption
								h3
									a(href='#') 案例标题  
								p 这是内容爱我的哈维的骄傲我快打我不会的阿觉，爱我的骄傲我看到就好玩吧
					.col-lg-4.col-md-4.col-sm-6.col-xs-6
						.thumbnail.case
							a(href='#')
								img(alt='', src='/images/page/cases/案例图2.png')
							.caption
								h3
									a(href='#') 案例标题  
								p 这是内容爱我的哈维的骄傲我快打我不会的阿觉，爱我的骄傲我看到就好玩吧
					.col-lg-4.col-md-4.col-sm-6.col-xs-6
						.thumbnail.case
							a(href='#')
								img(alt='', src='/images/page/cases/案例图1.png')
							.caption
								h3
									a(href='#') 案例标题  
								p 这是内容爱我的哈维的骄傲我快打我不会的阿觉，爱我的骄傲我看到就好玩吧
					.col-lg-4.col-md-4.col-sm-6.col-xs-6
						.thumbnail.case
							a(href='#')
								img(alt='', src='/images/page/cases/案例图2.png')
							.caption
								h3
									a(href='#') 案例标题  
								p 这是内容爱我的哈维的骄傲我快打我不会的阿觉，爱我的骄傲我看到就好玩吧
			// 分页start
			nav.text-center
				ul.pagination.pagination-no-border.pagination-no-separation
					li
						a(href='#') «
					li
						a(href='#') 1
					li
						a(href='#') 2
					li
						a(href='#') 3
					li
						a(href='#') 4
					li
						a(href='#') 5
					li
						a(href='#') 6
					li
						a(href='#') »
			// 分页end
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
