extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/abouts.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		img(src='/images/page/slug/newscenter.jpg',style={
			width:'100%',
//			height:'300px'
		})
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			ol.breadcrumb
				li
					a(href='/') 首页
				li
					a(href='/centers') 新闻中心
				li.active 新闻资讯
			.info_img
				img(src='/images/page/case/house-moving.jpg')



	// 主体内容end
		


block js
	// 页面相关
	script(type='text/javascript').
