extends ../layouts/default
block css
<<<<<<< HEAD
	link(rel='stylesheet', type='text/css', href='/styles/page/abouts.css')
=======
	link(rel='stylesheet', type='text/css', href='/styles/page/dynamic.css')
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
block index-main
	// 站内搜索start
	.page-lander.text-center
		img(src='/images/page/slug/aboutcompany.jpg',style={
			width:'100%',
//			height:'300px'
		})
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			//-ul#myTab.col-sm-3.nav.nav-pills.nav-stacked(role='tablist')
				li.active(role='presentation')
					a#one-tab(href='#one', role='tab', data-toggle='tab', aria-controls='one', aria-expanded='false') 发展历程
			//-#myTabContent.col-sm-9.tab-content
				#one.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='one-tab')
			ol.breadcrumb
				li
					a(href='/') 首页
				li
					a(href='/abouts') 认识绿华
				li.active 宣传报道
			.news_rf
				.news-q
					h1 闽侯新闻
					p 本网讯　1月12日，福州市政府副秘书长张则铭带领市调研组一行来我项目部调研设施农业项目开展工作。闽侯县副县长张旗、荆溪镇、白沙镇等主要领导参加了调研活动。
					.news-q-img
						img(src='/images/page/news/news(1).jpg')
					p 张则铭副秘书长一行实地察看了位于荆溪镇仁洲村的现代农业基地项目建设现场，详细询问了项目建设进展情况及施工过程中存在的问题，充分了解农业农村工作开展情况。该农业基地拟采用先进的气雾培、立体农业循环经济等技术方案，成功引入“水面双轴追光漂浮电站”农业光伏能源合作项目，计划建设成为福建最大的花卉、绿植种苗繁育高科技产业基地。
					.news-q-img
						img(src='/images/page/news/news(2).jpg')
					p 张则铭强调：要因地制宜建设新农村，深入挖掘自身文化底蕴，做好农业基地特色规划，打造能够展示和传承本地乡土文化的美丽乡村。要扎实推进农业供给侧改革，进一步做优做强特色农业产业，特别要结合自身实际，塑造属于自己的农业品牌。要及时总结推广先进农业技术、新能源农光结合试点工作的好经验，好做法，增强当地的农业实力，提高经济活力，增加农民的收入，培育新的增长点。
					.news-q-img
						img(src='/images/page/news/news(4).jpg')
				.news-l
					h5 相关新闻阅读
					h1(style={'text-align':'center'}) 全球首个双轴追光水面光伏电站建成
					p(style={'text-align':'center'}) 原标题：全球首个双轴追光水面光伏电站建成
					p(style={'text-align':'center'}) 转载自：新浪网2016年12月30日报道
					.news-l-img
						img(src='/images/page/news/news(3).jpg')
					p 2016年12月29日，绿华能源公司建设的双轴追光柔性支架水上光伏电站示范项目施工顺利完成，项目实现了双轴追光，属全球首创，比行业同类产品发电量提高20%以上；水上漂浮系统采用的柔性网架，完全自有设计，比行业同类产品成本降低30%以上。
					p 产品釆用数学分形理论、生物进化理论、力学桁架理论合一的独特设计，使漂浮平台的抗台风能力大大提高，数据测算其抗台风能力优于同类产品的3-20倍。
					p 产品在水体适合方面，由于水深不受限制的优势，因比水体适应能力极强，包括水深不断变化的沉陷区等水体。水位涨落最高承受可达20米，水流速最高可达3米/秒，风速最高可承受45米/秒。
					p 项目全部由绿华能源公司自行设计，采用自主知识产权专利近20项，项目成为全球首个双轴追光水上光伏电站项目，具有重要示范效应。
					p 光伏电站行业是以度电成本为竞争力导向的，最终肯定是最有能力降低电价的企业获得发展。
					p 而当前光伏电站发展存在包括土地性质与成本、发电质量、安全风险、管理风险等问题。由于土地性质导致无法并网不在少数，政府征收费用、征地移民成本、运营期租金使土地成本越来越高;用地指标管理复杂、区域弃光限电使光伏电站投资风险剧增；现有水面光伏电站方案要么成本高要么环境风险高要么水体适应能力弱，缺乏大面积推广的竞争力。
					p 绿华能源公司从2013年开始研究水上光伏电站，目前已经取得双轴追光柔性支架水上光伏电站相关发明专利和实用新型专利近20项。
					p 绿华能源公司的双轴追光柔性支架水上光伏电站是利用水上光伏浮动平台将光伏组件漂浮在水面进行发电。水上光伏电站不占用土地资源，水体对光伏组件有冷却效应，可以抑制组件表面温度上升，从而获得更高的发电量，可广泛应用于水库、湖泊、池塘、煤矿沉陷区、工业废水池等环境。公司产品对于饮用水完全无害，同时由于减少蒸发水量对于农业灌溉和饮用水生产，以及遮挡作用可控制藻类生产，严格独特的可循环利用的材料选择都具有良好的环境效益。模块化的技术和简单的安装和拆卸方式，无需笨重的机械设备，无疑是光伏从业者的福音。
					p 目前，国家能源局正在推行的光伏“领跑者计划”，将加速水上光伏的发展，绿华能源公司示范项目的成功建设，将对包括煤矿沉陷区在内水上光伏业务的开展起到了重大推广作用，为绿华能源的发展增添新的活力!
					p 根据可再生能源“十三五”规划的要求，预计2020年光伏发电装机总量要达到1.05亿千瓦。
					p 不过当下光伏电站的开发重心依旧是在集中建设上，据统计，今年头11个月集中式电站的新增装机量达到了2845万千瓦，占全部光伏发电新增装机量的89%。而分布式光伏发电新增装机量为366万千瓦，在全部光伏发电新增装机量中的占比仅为11%。这说明，分布式光伏发电项目的发展规模仍旧较低。而且，在2017年集中式电站标杆电价将会大幅度下调，这将削减集中式光伏发电项目投资的吸引力。而分布式光伏发电项目则由于“就近消纳”、“余量上网”等优势，将会成为下一步光伏产业的投资热点。
					p 从光伏产业发展趋势来看，光伏项目电价最终还是要向电网销售电价看齐。这也为企业打开市场提供了良好的外部环境，对于产业经营者来说，提高技术研发水平、降低发电成本、提高发电效率，同时也需要在储能、系统调控上多下功夫，一体化的解决方案更容易受到用户的青睐！
<<<<<<< HEAD

=======
				//视频start
				h1 宣传视频
				.index-video
					.lg-container
						.index-video-box(style={
							'max-height':'540px'
						})
							a(href='https://v.qq.com/x/page/a0368whgg6q.html')
								img(src='/images/page/index/video.png')
								//-.title
									h2 共建更美好的未来
				//视频end
>>>>>>> b0eb7369478abac56cd444606cf895bb4ced42e0
				//h1= data.dynamics.title
			//!= data.dynamics.content
	// 主体内容end
block js
	// 页面相关
	script(type='text/javascript').
