extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/features.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
		//
			<form role="form">
			<input type="text" name="searchContent" /><button type="sumbit" style="margin-top: -2px;">搜索</button>
			</form>
	// 站内搜索end
	// 主体内容start
	.main-content
		.content-block.content-block-gray
			.container
				.row
					.col-sm-5.hidden-xs.feature-pic.feature-pic-left
						img(src='/images/page/features/产品特色图1.png', alt='')
					.col-sm-5.col-xs-12.feature-body
						h2 产品特色一
						p 利用最先进的技术，让生活更加美好爱我的会把我的骄丁堡爱我的骄傲我v打完丁堡爱我的骄傲我v打完丁堡爱我的骄傲我v打完傲我挖丁堡爱我的骄傲我v打完就感觉到阿我觉得卡我觉得阿达瓦阿瓦
		.content-block.content-block-white
			.container
				.row
					.col-sm-5.hidden-xs.feature-pic.feature-pic-right.feature-pic-cover
						img(src='/images/page/features/产品特色图2.png', alt='')
					.col-sm-5.col-xs-12.feature-body
						h2 产品特色二
						p 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖丁堡爱我的骄傲我v打完就感觉到阿我觉得卡我觉得阿达瓦阿瓦
		.content-block.content-block-gray
			.container
				.row
					.col-sm-5.hidden-xs.feature-pic.feature-pic-left.feature-pic-overflow
						img(src='/images/page/features/产品特色图3.png', alt='')
					.col-sm-5.col-xs-12.feature-body
						h2 产品特色三
						p 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖丁堡爱我的骄傲我v打完丁堡爱我的骄傲我v打完丁堡爱我的骄傲我v打完就感觉到阿我觉得卡我觉得阿达瓦阿瓦
		.content-block.content-block-white
			.container
				.row
					.col-sm-5.hidden-xs.feature-pic.feature-pic-right
						img(src='/images/page/features/产品特色图4.png', alt='')
					.col-sm-5.col-xs-12.feature-body
						h2 产品特色四
						p 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖丁堡爱我的骄傲我v打完就感觉到阿我觉得卡我觉得阿达瓦阿瓦
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
