extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/feedback.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
		//
			<form role="form">
			<input type="text" name="searchContent" /><button type="sumbit" style="margin-top: -2px;">搜索</button>
			</form>
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			ul.location.list-unstyled.list-inline
				li
					a(href='#') 首页
				li.location-separator
				li.active
					a(href='javascript:;') 反馈中心
			|         
			form#feedback-form(role='form', action='')
				fieldset
					legend
						h1 反馈中心
					.greetings.col-sm-offset-2.col-xs-12
						p.text-info 请提出您的宝贵意见
					.form-group.col-sm-offset-2.col-xs-12
						label(for='exampleInputTitle1') 标题
						.col-sm-6.col-xs-8.input-group
							// input-group-lg
							input#exampleInputTitle1.form-control(type='text', name='exampleInputTitle1', placeholder='', required='required')
							// input-lg
					.form-group.col-sm-offset-2.col-xs-12
						label(for='exampleInputEmail1') 邮箱
						.col-sm-6.col-xs-8.input-group
							input#exampleInputEmail1.form-control(type='email', name='exampleInputEmail1', placeholder='', required='required')
					.form-group.col-sm-offset-2.col-xs-12
						label(for='exampleInputContent1') 具体内容
						.col-sm-10.col-xs-12.input-group
							textarea#exampleInputContent1.form-control(name='exampleInputContent1', rows='5', placeholder='', required='required')
							// <p class="help-block">Example block-level help text here.</p>
					.form-group.col-sm-offset-2.col-xs-12
						.col-sm-3.col-xs-3.input-group
							button.btn.btn-info(type='submit') 提交
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
