extends ../layouts/default
block css
	link(rel='stylesheet', type='text/css', href='/styles/page/abouts.css')
block index-main
	// 站内搜索start
	.page-lander.text-center
		img(src='/images/page/slug/bewithyou（1）.jpg',style={
			width:'100%',
//			height:'300px'
		})
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			//-ul#myTab.col-sm-3.nav.nav-pills.nav-stacked(role='tablist')
				li.active(role='presentation')
					a#one-tab(href='#one', role='tab', data-toggle='tab', aria-controls='one', aria-expanded='false') 加入我们
			//-#myTabContent.col-sm-9.tab-content
				#one.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='one-tab')
			ol.breadcrumb
				li
					a(href='/') 首页
				li
					a(href='/arounds') 正在你身边
				li.active 加入我们
			//-h1= data.joins.title
			.row
				.join-backImage
					.img-both
						a(href='http://jobs.51job.com/all/co3728756.html' target="_blank")
							img(class='img-left',src='/images/page/joinUs/recruiticon2.png')
						a(href='/images/page/joinUs/REFINECE Campus Recruitment 2017.pdf' target="_blank")
							img(class='img-right',src='/images/page/joinUs/recruiticon1.png')
				
			//-!=data.joins.content
					
	// 主体内容end
block js
	// 页面相关
	script(type='text/javascript').

