extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/news') &larr; back to the news
			hr
			if !data.newsInfo
				h2 Invalid Post.
			else
				header
					h1= data.newsInfo.title
					h5 Posted 
						if data.newsInfo.publishedDate
							| on #{data.newsInfo._.publishedDate.format('YYYY-MM-DD')} 
						if data.newsInfo.categories && data.newsInfo.categories.length
							| in 
							each cat, cat_i in data.newsInfo.categories
								a(href='/news/' + cat.key)= cat.name
								if cat_i < data.newsInfo.categories.length - 1
									| , 
								else
									|  
				.news-info
					if data.newsInfo.imageUrl
						.image-wrap: img(src=data.newsInfo.imageUrl).img-responsive
					!= data.newsInfo.content.full
