extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/news.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
		form(role='form')
			input(type='text', name='searchContent')
			button(type='sumbit', style='margin-top: -2px;') 搜索
	// 站内搜索end
	// 主体内容start
	.main-content
		// 新闻资讯分类start
		.news-info-categories
			.container
				ul.list-inline
					li.active
						a(href='#') 全部
					li
						a(href='#') 行业背景
					li
						a(href='#') 热点聚焦
					li
						a(href='#') 行业动态
		// 新闻资讯分类end
		// 新闻资讯列表start
		.news-infos
			.container
				ul.media-list
					li.media
						a.media-left(href='news-info.html')
							img(src='/images/page/news/新闻资讯概图.png', alt='')
						.media-body
							h4.media-heading
								a(href='') 新闻资讯 
							p.media-content 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖掘等会哇嘎大玩家爱爱我的就问哈撒打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电话丁堡爱 
							p.media-time 2016/09/10
					li.media
						a.media-left(href='news-info.html')
							img(src='/images/page/news/新闻资讯概图.png', alt='')
						.media-body
							h4.media-heading
								a(href='') 新闻资讯 
							p.media-content 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖掘等会哇嘎大玩家爱爱我的就问哈撒打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电话丁堡爱 
							p.media-time 2016/09/10
					li.media
						a.media-left(href='news-info.html')
							img(src='/images/page/news/新闻资讯概图.png', alt='')
						.media-body
							h4.media-heading
								a(href='') 新闻资讯 
							p.media-content 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖掘等会哇嘎大玩家爱爱我的就问哈撒打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电话丁堡爱 
							p.media-time 2016/09/10
					li.media
						a.media-left(href='news-info.html')
							img(src='/images/page/news/新闻资讯概图.png', alt='')
						.media-body
							h4.media-heading
								a(href='') 新闻资讯 
							p.media-content 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖掘等会哇嘎大玩家爱爱我的就问哈撒打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电话丁堡爱 
							p.media-time 2016/09/10
					li.media
						a.media-left(href='news-info.html')
							img(src='/images/page/news/新闻资讯概图.png', alt='')
						.media-body
							h4.media-heading
								a(href='') 新闻资讯 
							p.media-content 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖掘等会哇嘎大玩家爱爱我的就问哈撒打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电话丁堡爱 
							p.media-time 2016/09/10
					li.media
						a.media-left(href='news-info.html')
							img(src='/images/page/news/新闻资讯概图.png', alt='')
						.media-body
							h4.media-heading
								a(href='') 新闻资讯 
							p.media-content 利用最先进的技术，让生活更加美好爱我的会把我的骄傲我挖掘等会哇嘎大玩家爱爱我的就问哈撒打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电打我快打我的卡未接电话丁堡爱 
							p.media-time 2016/09/10
				// 分页start
				nav
					ul.pagination.pagination-lg
						li
							a(href='#') «
						li
							a(href='#') 1
						li
							a(href='#') 2
						li
							a(href='#') 3
						li
							a(href='#') »
				// 分页end
		// 新闻资讯列表end
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
