extends ../layouts/default0

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/product') &larr; back to the product
			hr
			if !data.product
				h2 Invalid Product.
			else
				header
					h1= data.product.title
					h5 Posted 
						if data.product.publishedDate
							| on #{data.product._.publishedDate.format('YYYY-MM-DD')}
				.post
					if data.product.imageUrl
						.image-wrap: img(src=data.product.imageUrl,style={height:'100px'}).img-responsive
					!= data.product.content.full
