extends ../layouts/default
block css
	link(rel='stylesheet', type='text/css', href='/styles/page/recruitment.css')
block index-main
	// 站内搜索start
	.page-lander.text-center
		img(src='/images/page/slug/aboutcompany.jpg',style={
			width:'100%',
//			height:'300px'
		})
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			//-ul#myTab.col-sm-3.nav.nav-pills.nav-stacked(role='tablist')
				li.active(role='presentation')
					a#one-tab(href='#one', role='tab', data-toggle='tab', aria-controls='one', aria-expanded='false') 媒体报道
			//-#myTabContent.col-sm-9.tab-content
				#one.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='one-tab')
			ol.breadcrumb
				li
					a(href='/') 首页
				li
					a(href='/abouts') 认识绿华
				li.active 媒体报道
			h1= data.recruitments.title
			!= data.recruitments.content
	// 主体内容end
block js
	// 页面相关
	script(type='text/javascript').
