extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/services.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好 
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			ul#myTab.col-sm-3.nav.nav-pills.nav-stacked(role='tablist')
				li.active(role='presentation')
					a#one-tab(href='#one', role='tab', data-toggle='tab', aria-controls='one', aria-expanded='false') 产品
				li(role='presentation')
					a#two-tab(href='#two', role='tab', data-toggle='tab', aria-controls='two', aria-expanded='true') 服务
			#myTabContent.col-sm-9.tab-content
				#one.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='one-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/sercices') 产品与服务
						li.active 产品
					h1= data.products.title
					.lv2-img
						img(style={
							width: '50%',
							'max-height': '250px'
						},src=data.products.overviewImage.path.substring(6) + data.products.overviewImage.filename)

				#two.tab-pane.fade(role='tabpanel', aria-labelledby='two-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/sercices') 产品与服务
						li.active 服务
					h1= data.serves.title
					.lv2-img
						img(style={
							width: '50%',
							'max-height': '250px'
						},src=data.serves.overviewImage.path.substring(6) + data.serves.overviewImage.filename)


	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
