include ../mixins/flash-messages
	
doctype html
html(lang='zh-CN')
	
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		// 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
		title= title || '绿华能源'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		
		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.
		link(href="/styles/site.min.css", rel="stylesheet")
		//// Bootstrap
		//link(href='/styles/lib/bootstrap/bootstrap.min.css', rel='stylesheet')
		//// the site base style
		//link(rel='stylesheet', type='text/css', href='/styles/page/common/base.css')
		// the index page's style
		block css
		
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
		
		//- Add any other template-specific HEAD tags by extending the head block
		block head
	
	body
		// 页眉start
		header.site-header
			nav.navbar.navbar-fixed-top.floating(role='navigation')
				.container
					// Brand and toggle get grouped for better mobile display
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							img(alt='导航栏商标', src='/images/page/logo附文字green.png')
					// Collect the nav links, forms, and other content for toggling
					#bs-example-navbar-collapse.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
		// 页眉end
		
		.index-main
			+flash-messages(messages)
			
			block index-main
		
		// 页脚start
		footer.site-footer
			.footer-nav
				// container start
				.container
					.row
						.col-md-2.col-sm-4.col-xs-6
							h3 关于绿华
							ul.footer-list
								li.footer-list-item
									a(href='/abouts') 公司简介
						.col-md-2.col-sm-4.col-xs-6
							h3 新闻资讯
							ul.footer-list
								li.footer-list-item
									a(href='/news/57bfe964ec960ce9277c8a82') 行业背景
								li.footer-list-item
									a(href='/news/57bfff7b56fe87d81ef33f72') 热点聚焦
								li.footer-list-item
									a(href='/news/57bfff8656fe87d81ef33f73') 公司动态
						.clearfix.visible-xs-block
						.col-md-2.col-sm-4.col-xs-6
							h3 产品信息
							ul.footer-list
								li.footer-list-item
									a(href='/products') 产品系列
								li.footer-list-item
									a(href='/cases') 案例展示
						.clearfix.visible-sm-block
						.col-md-2.col-sm-4.col-xs-6
							h3 快速链接
							ul.footer-list
								//li.footer-list-item
								//	a(href='/feedback') 在线反馈
								li.footer-list-item
									a(href='/abouts') 招贤纳士
								li.footer-list-item
									a(href='/abouts') 合作伙伴
						#wechat-code-pictures.col-md-3.col-md-offset-1.col-sm-8.col-xs-12.wechat-code-pictures
							ul#myWechatTabs.nav.nav-tabs.nav-justified(role='tablist')
								li.active(role='presentation')
									a#refine-official-tab(href='#refine-official', role='tab', data-toggle='tab', aria-controls='refine-official', aria-expanded='true') 官方微信
								li(role='presentation')
									a#gridvo-subscription-tab(href='#gridvo-subscription', role='tab', data-toggle='tab', aria-controls='gridvo-subscription', aria-expanded='false') 格物科技
								li(role='presentation')
									a#gridvo-service-tab(href='#gridvo-service', role='tab', data-toggle='tab', aria-controls='gridvo-service', aria-expanded='false') 智能水电站
							#myWechatTabContent.tab-content
								#refine-official.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='refine-official-tab')
									img(src='/images/page/绿华能源公众号.jpg', alt='')
								#gridvo-subscription.tab-pane.fade(role='tabpanel', aria-labelledby='gridvo-subscription-tab')
									img(src='/images/page/格物科技订阅号.jpg', alt='')
								#gridvo-service.tab-pane.fade(role='tabpanel', aria-labelledby='gridvo-service-tab')
									img(src='/images/page/智能化水电站服务号.jpg', alt='')
				// container end
			.copyright
				// container start
				.container
					p.pull-left Copyright © 2014-2016 绿化能源有限公司，保留所有权利 | 浙ICP备15019097号
					p.pull-right
						span
							a(href='/abouts') 法律声明
						span
							a(href='/abouts') 隐私政策
						span
							a(href='/abouts') 联系我们
				// container end
		// 页脚end
		
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='/js/lib/jquery/jquery-1.11.3.min.js')
		// Include all compiled plugins (below), or include individual files as needed
		script(src='/js/lib/bootstrap/bootstrap-3.3.5.min.js')
		// 页面相关
		block js
