
.main-content {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif;
}
.main-content .container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.main-content .tab-content {
	min-height: 640px;
}

.main-content .nav-stacked {
	margin-bottom: 30px;
}
.main-content .nav-stacked > li {
	margin-top: -1px;
	margin-bottom: -1px;
}
.main-content .nav-pills > li {
	border: 1px solid #ddd;
}
.main-content .nav-pills > li > a {
	border-radius: 0px;
}
.main-content .tab-content > .tab-pane > .breadcrumb {
	border-radius: 0px;
}

.breadcrumb > li > a {
	color: #43cd4f;
}
.breadcrumb > li > a:focus,
.breadcrumb > li > a:hover {
	color: #22bb44;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #22bb44;
}
.nav-pills a {
	color: #22bb44;
}
.nav-pills a:focus,
.nav-pills a:hover {
	color: #43cd4f;
}


/*后续样式*/
.news_rf h1{
	font-size: 28px;
	line-height: 48px;
}
.news_rf p{
	text-indent: 2em;
	line-height: 28px;
}
.news-q-img,.news-l-img{
	width: 100%;
	max-height: 540px;
	text-align: center;
	margin-bottom: 2em; ;
}
.news-q-img > img,.news-l-img > img{
	width: 50%;
	height: auto;
}
.news_rf .news-q,.news_rf .news-l{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
}


.index-video{
	width: 100%;
	max-width: 1440px;
	margin: 2em auto 0 auto;
	/*margin-top: 1em;*/
	/*margin-bottom: 1em;*/
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	border-bottom: 0;
	margin-bottom: 1.5%;
}
.index-video .index-video-box{
	/*background-color: #006666;*/
	/*background-image:url('/public/images/page/case/合作共赢.jpg');*/
	width: 100%;
	position: relative;
	z-index: 99;
	overflow: hidden;
}
.index-video .index-video-box img{
	width: 100%;
	height: 100%;
}
.index-video .index-video-box .title{
	position: absolute;
	width: 100%;
	top: 10%;
}
.index-video h2{
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	color: #000;
}



